# Ignore all python notebooks checkpoints
**/.ipynb_checkpoints/*

# Ignore all Latex temporary/build files
**/*
!**/*.tex
!**/*.sty
!**/*.pdf

# Ignore all pycaches
**/__pycache__/*

/_layouts/*
/assets/*