# Ignore all python notebooks checkpoints
**/.ipynb_checkpoints/*

# Ignore all Latex temporary/build files
**/*.log
**/*.aux
**/*.out
**/*.synctex.gz

# Ignore all pycaches
**/__pycache__/*

/_layouts/*
/assets/*